# Ohio

I decided against this one!! But I'll leave it here because it's good to know sometimes things are just a real pain and even I give up (although I COULD HAVE DONE IT, I promise).

In [2]:
# %pip install --quiet lxml html5lib beautifulsoup4 pandas
# %pip install --quiet playwright
# !playwright install

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
from playwright.async_api import async_playwright

# "Hey, open up a browser"
playwright = await async_playwright().start()
browser = await playwright.chromium.launch(headless=False)

# Create a new browser window
page = await browser.new_page()

In [2]:
await page.goto("https://elicense.ohio.gov/OH_VerifyLicense")

In [14]:
# await page.locator("select").select_option("Veterinary Medical Board")
await page.locator("select[name=\"j_id0\\:j_id114\\:board\"]").select_option("Veterinary Medical Board")

['Veterinary Medical Board']

In [19]:
# await page.locator("select").select_option("OH")
await page.locator("select[name=\"j_id0\\:j_id114\\:state\"]").select_option("OH")

['OH']

In [25]:
# await page.locator("select").click()
# Get all options
await page.locator("[id=\"j_id0\\:j_id114\\:county\"]").locator("option").all_text_contents()

['---Select--',
 'Adams',
 'Allen',
 'Ashland',
 'Ashtabula',
 'Athens',
 'Auglaize',
 'Belmont',
 'Brown',
 'Butler',
 'Carroll',
 'Champaign',
 'Clark',
 'Clermont',
 'Clinton',
 'Columbiana',
 'Coshocton',
 'Crawford',
 'Cuyahoga',
 'Darke',
 'Defiance',
 'Delaware',
 'Erie',
 'Fairfield',
 'Fayette',
 'Franklin',
 'Fulton',
 'Gallia',
 'Geauga',
 'Greene',
 'Guernsey',
 'Hamilton',
 'Hancock',
 'Hardin',
 'Harrison',
 'Henry',
 'Highland',
 'Hocking',
 'Holmes',
 'Huron',
 'Jackson',
 'Jefferson',
 'Knox',
 'Lake',
 'Lawrence',
 'Licking',
 'Logan',
 'Lorain',
 'Lucas',
 'Madison',
 'Mahoning',
 'Marion',
 'Medina',
 'Meigs',
 'Mercer',
 'Miami',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Morrow',
 'Muskingum',
 'Noble',
 'Ottawa',
 'Paulding',
 'Perry',
 'Pickaway',
 'Pike',
 'Portage',
 'Preble',
 'Putnam',
 'Richland',
 'Ross',
 'Sandusky',
 'Scioto',
 'Seneca',
 'Shelby',
 'Stark',
 'Summit',
 'Trumbull',
 'Tuscarawas',
 'Union',
 'Van Wert',
 'Vinton',
 'Warren',
 'Washington',
 'Wayne',
 'Williams',
 'Wood',
 'Wyandot',
 'Out of State']

In [26]:
counties = ['Adams',
 'Allen',
 'Ashland',
 'Ashtabula',
 'Athens',
 'Auglaize',
 'Belmont',
 'Brown',
 'Butler',
 'Carroll',
 'Champaign',
 'Clark',
 'Clermont',
 'Clinton',
 'Columbiana',
 'Coshocton',
 'Crawford',
 'Cuyahoga',
 'Darke',
 'Defiance',
 'Delaware',
 'Erie',
 'Fairfield',
 'Fayette',
 'Franklin',
 'Fulton',
 'Gallia',
 'Geauga',
 'Greene',
 'Guernsey',
 'Hamilton',
 'Hancock',
 'Hardin',
 'Harrison',
 'Henry',
 'Highland',
 'Hocking',
 'Holmes',
 'Huron',
 'Jackson',
 'Jefferson',
 'Knox',
 'Lake',
 'Lawrence',
 'Licking',
 'Logan',
 'Lorain',
 'Lucas',
 'Madison',
 'Mahoning',
 'Marion',
 'Medina',
 'Meigs',
 'Mercer',
 'Miami',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Morrow',
 'Muskingum',
 'Noble',
 'Ottawa',
 'Paulding',
 'Perry',
 'Pickaway',
 'Pike',
 'Portage',
 'Preble',
 'Putnam',
 'Richland',
 'Ross',
 'Sandusky',
 'Scioto',
 'Seneca',
 'Shelby',
 'Stark',
 'Summit',
 'Trumbull',
 'Tuscarawas',
 'Union',
 'Van Wert',
 'Vinton',
 'Warren',
 'Washington',
 'Wayne',
 'Williams',
 'Wood',
 'Wyandot']

In [29]:
await page.locator("[id=\"j_id0\\:j_id114\\:county\"]").select_option('Adams')

['Adams']

In [30]:
# await page.get_by_text("Search").click()
await page.get_by_role("button", name="search").click()

In [3]:
import pandas as pd
from io import StringIO

html = await page.content()
tables = pd.read_html(StringIO(html))
len(tables)

1

In [4]:
tables[0]

,Name,Board,Application/License/Endorsement #,Type,Status,Sub Status,Sub Category,Board Action?,City,State,County,Zip Code,Compact/Multi-State Eligible,Unnamed: 13
0,"Juricic , Karen Elizabeth",Architects Board,ARC.2218789,Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43229-1003,NaN,NaN
1,"Byrnes , Casey Anne",Architects Board,ARC.2118441,Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43215-4321,NaN,NaN
2,"Taylor , Amy Kaye",Architects Board,LA.2101574,Landscape Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43215,NaN,NaN
3,"Prentice , David",Architects Board,ARC.2218944,Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43212-3890,NaN,NaN
4,"Gerich , Kerry",Architects Board,LA.2101576,Landscape Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43215-2390,NaN,NaN
5,"Lephart , Nathan Andrew",Architects Board,ARC.2118502,Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43229-1547,NaN,NaN
6,"Burke , Bryan",Architects Board,ARC.2118569,Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43201-3603,NaN,NaN
7,"Stewart , Zachary Ryan",Architects Board,ARC.2419462,Architect - Individual (ARC),Active,NaN,NaN,No,Columbus,OH,Franklin,43220-3256,NaN,NaN
8,"Wells , Montel",Architects Board,ARC.2419475,Architect - Individual (ARC),Active,NaN,NaN,No,Hilliard,OH,Franklin,43026-9334,NaN,NaN
9,"Macneil , Joseph Anthony",Architects Board,ARC.2419360,Architect - Individual (ARC),Active,NaN,NaN,No,Bexley,OH,Franklin,43209-1702,NaN,NaN

In [7]:
await page.locator("a.next:not(disabled)").click(timeout=1000)